body, html{
	background-color: #999999;
}

#container{
	background-color: #FFFFFF;
	width:900px;
	padding:30px;
	margin:0 auto;
	margin-top:-30px;
	margin-bottom:30px;
	box-shadow: #333 0px 0px 10px;
	border-radius: 5px;
}

#header{
	background-color: #4B62B2;
	padding-top: 45px;
	padding-bottom: 80px;
	border-bottom: solid 5px #84A0FF;
	box-shadow: inset #333 0px 0px 10px;
}

#footer{
	background-color: #666666;
	padding-top: 40px;
	padding-bottom: 40px;
	box-shadow: inset #333 0px 0px 10px;
	text-align: center;
	color: #FFFFFF;
}

.container{
	width:960px;
	margin:0 auto;
}

#logo{
	position: relative;
	top:-100px;
	float:right;
}

h1{
	font-family: 'Oswald', sans-serif;
	font-size: 3.5em;
	color:#FFFFFF;
}

h2{
	margin-top: 15px;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	color:#FFFFFF;
}

h3{
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	color:#666666;
	margin-top: 50px;
}
h3.first{
	margin-top: 15px;
}

h4{
	font-family: 'Arial', sans-serif;
	font-size: 1em;
	font-weight: bold;
	color:#666666;
	margin-top: 10px;
	margin-bottom: 10px;
}


p, li, dt, dd{
	font-family: 'Arial', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

p{
	margin-top:15px;
	margin-bottom: 15px;
}

pre{
	margin-top: 15px;
}

ol{
	list-style-type: decimal;
	margin-left: 20px;
}

li{
	margin-bottom: 15px;
}

dt{
	float: left;
	margin-right: 15px;
}

a{
	color:#4B62B2;
}
a:hover{
	color:#84A0FF;
}

#footer a{
	color:#FFFFFF;
}
#footer a:hover{
	color:#84A0FF;
}
